.thumb {
  width: min-content;
  border: 1px var(--color-border) solid;
  margin: 0 auto;

  .thumbcaption {
    text-align: center;
    margin-bottom: 3px;

    &::before {
      content: '';
      display: block;
      height: 3px;
      background-color: var(--color-border);
      margin: 0 5px;
      margin-bottom: 3px;
    } 

    .magnify {
      display: none;
    }
  }
}

ul.gallery {
  overflow: hidden;
  padding: 0;
  text-align: center;
  font-size: 0;

  .thumb {
    border: none;
  }

  li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 90px;
    margin: 5px;
    font-size: 14px;

    &::before {
      display: none
    }

    img {
      width: 90px !important;
      object-fit: cover;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}