.Tabs {
  .TabLabelContainer {
    display: flex;
    flex-wrap: wrap;

    p {
      margin: 5px 0;
    }

    .TabLabelText {
      padding: 5px 10px;
      vertical-align: middle;
      
      &.Tabs-active {
        background-color: var(--activeBgColor, var(--color-light));
      }
    }
  }

  .TabContentContainer {

    .TabContentText {
      display: none;
      
      &.Tabs-active {
        display: block;    
      }
    }
  }
}