.infobox {
  float: none !important;
  margin: 10px auto;

  // 排除Album Infobox/Chronology模板
  > tbody > tr > td:not(:only-child):nth-child(1):not([style="width: 33%; text-align:center;"]) {
    background-color: useComputedColorVars('headerColor', 0.3);
  }
}

.infobox2 {
  margin: 10px auto !important;
}