.ajaxpoll {
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed #999;
  background: #fafafa;
  padding: 10px;
  font-size: 14px;

  .ajaxpoll-ajax {
    background: var(--color-light);
    padding: 1px 4px;
    border-radius: 0.5em;
    display: none;
  }

  .ajaxpoll-misc {
    margin: 3px 0;
  }

  .ajaxpoll-question {
    font-weight: bold;
  }

  .ajaxpoll-answer-name, 
  .ajaxpoll-answer-name-revoke {
    font-size: 0.9em;
    padding: 3px 0;

    input[type="radio"] {
      position: relative;
      top: 2px;
    }
  }

  .ajaxpoll-answer-vote {
    position: relative;
    background: #eee;
    border: 1px #666 solid;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    margin-top: 5px;
    
    > :first-child {
      position: relative;
      z-index: 1;

      &::after {
        display: inline;
        content: ' (' attr(title) ')';
      }
    }

    > :last-child {
      height: 20px;
      background: #ccc;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .ajaxpoll-info {
    margin-top: 10px;
    color: #808080;
  }

  .ajaxpoll-id-info {
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
  }
}