// 全局生效样式，不要在这里写和模块内容有关的样式

body {
  margin: 10px;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.2s;

  &:active {
    opacity: 0.3;
  }
}

// 隐藏ruby用于复制时带上的括号
.template-ruby-hidden {
  display: none;
}