// 全局生效样式，不要在这里写和模块内容有关的样式

:root {
  overflow-x: hidden;
}

body {
  max-width: calc(100% - 20px);
  margin: 10px;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2 {
  font-weight: initial;
}

.mw-inputbox-centered {
  display: none;
}

ul, ol {
  padding-left: 20px;

  li {
    word-break: break-all;
  }
}

pre {
  color: #000;
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
  padding: 1em;
  word-break: break-all;
  white-space: normal;
  font-family: 'Consolas';
}

// 隐藏ruby用于复制时带上的括号
.template-ruby-hidden {
  display: none;
}

// 匹配老旧的信息模板
table[border="1"][cellpadding="2"][cellspacing="0"][style^="float: right; width: 260px;"] {
  float: none !important;
  margin: 10px auto 0 auto !important;
}

.infotemplatebox {
  margin-top: 10px;
}