@import
  './common.scss',
  './global.scss'
;

:root {
  --color-primary: #4CAF50;
  --color-dark: #388E3C;
  --color-light: #B5E9B5;
  --color-text: #323232;
  --color-background:#eaecf0;
  --color-border: #ccc;
}