// 注意：修改collapsible的样式将影响navbox

// 排除toggle模板([id^="mw-customcollapsible-"])
.mw-collapsible:not([id^="mw-customcollapsible-"]) {
  background-color: var(--color-background);
  margin: 1em 0;
  border: 1px var(--color-border) solid;
  border-collapse: collapse;
  width: var(--max-content-width);
  table-layout: fixed;
  
  &.mw-collapsed {
    width: auto;
    table-layout: auto;
    
    > tbody {
      > tr:not(:first-child) {
        display: none !important;
      }
    }
  }

  > tbody {
    > tr:first-child {
      > th {
        background-color: var(--color-background);
        text-align: center;
        border: 1px var(--color-border) solid;
        padding: 3px 5px;
      }
    }

    > tr:last-child {
      border: 1px var(--color-border) solid;
      padding: 0.2em 0.4em;

      > td {
        padding: 8px;
        overflow: auto;

        > p:first-child, p:last-child {
          margin: 0;
        }
      }
    }
  }

  .collapseButton {
    float: right;
    color: var(--color-primary);
    margin-left: 5px;
  }
}