.heimu {
  background-color: black;
  
  &.heimu-show {
    color: white;

    a {
      color: var(--color-primary);
    }
  }

  &.heimu-useTransition {
    transition: all 0.2s;
  }

  a {
    color: black;
  }
}

// 消除无参数文字模糊刮刮乐
span[style="color:rgba(0,0,0,0); text-shadow:grey 0px 0px 10px;"] {
  text-shadow: initial !important;
  color: initial !important;
}