.categoryBox {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 2px 2.5px;
  background-color: var(--color-primary);
  border-radius: 20px;
  color: white;
}