$primary: #4E4E4E;
$accent: #0DBC79;
$danger: #D96768;
$text: #BFBFBF;
$link: #0DBC79;
$disabled: #D0D0D0;
$placeholder: #797979;
$background: #252526;
$surface: #4E4E4E;

$dark: #076642;
$light: #0B9560;
$onSurface: #BFBFBF;
$lightBg: #797979;

body.nightTheme {
  background-color: $background;
  color: $text;

  a {
    color: $link;
    text-decoration: none;
  
    .new {
      color: $danger;
    }
  }
  
  .decoration-underlink a {
    color: $link !important;
    border-bottom-color: $link !important;
  }
  
  .mainpage-title {
    background-color: #555 !important;
    color: $text;
    border-radius: 5px;
  }
  
  .mainpage-box {
    box-shadow: none !important;
    background-color: #333;
    border-radius: 5px;
  }
  
  table.infobox {
    background-color: transparent !important;
    
    > tbody > tr:first-child > td,
    th[colspan="3"] {
      background-color: $primary !important;
      color: $text !important;
    }
  
    td[width="80px"], td[style^="min-width: 80px;"] {
      background-color: $primary;
    }
  }
  
  .heimu {
    color: black;

    a {
      color: black;
    }
  
    &.heimu-show {
      color: $text;
    
      a {
        color: $link;
      }
    }
  }
  
  .Tabs {
    .TabLabelText.Tabs-active {
      position: relative;
      background-color: transparent !important;
      
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--activeBgColor, var(--color-light));
        z-index: -1;
        opacity: 0.3;
      }
    }
  }
  
  
  .wikitable {
    background-color: $primary;
    color: $text;
  
    > tr > th,
    * > tr > th {
      background-color: darken($color: $placeholder, $amount: 30%);
    }
  
    tr > th,
    > tr > td,
    * > tr > th,
    * > tr > td {
      border: 1px #a2a9b1 solid;
      background-color: #252526;
    }
  }
  
  .navbox, .navbox .navbox-subgroup {
    background-color: transparent !important;
  }
  
  .navbox {
    a {
      color: $link !important;
      -webkit-text-fill-color: $link !important
    }
  
    .navboxBlock {
      border-left-color: $primary !important;
    }
  
    .navbox-title * {
      color: $text !important;
      -webkit-text-fill-color: $text !important;
      background-color: transparent !important;
    }

    .navbox-list {
      background-color: transparent !important;
    }
  
    .mw-collapsible.navbox-subgroup {
      background-color: $background !important;
      color: $text !important;
      -webkit-text-fill-color: $text !important;
    }
  
    .navbox-title, table.navbox th {
      background-color: $primary !important;
      background-image: none !important;
      color: $text !important;
      -webkit-text-fill-color: $text !important
    }
  
    .navbox-abovebelow,
    .navbox-group,
    .navbox-title {
      background-color: $primary !important;
      color: $text !important;
      -webkit-text-fill-color: $text !important;
    }
  
    .navbox-even {
      background-color: $background !important;
      color: $text !important;
      -webkit-text-fill-color: $text !important;
    }
  
    .infotemplatebox {
      tbody > tr:nth-child(2) > td, tbody > tr:nth-last-child(2) > th {
        background-color: $primary !important;
      }
    }
  }
  
  .mw-collapsible {
    > tbody > tr:first-child > th {
      background-color: $primary;
    }
  
    .collapseButton:not(foo) {
      color: $link;
    }
  }
  
  .categoryBox {
    background-color: $primary;
    color: $text;
  }
}
