// 注意：navbox的样式受collapsible的影响
.navbox {
  border: 1px var(--color-border) solid;
  padding: 2px;
  width: 100%;
}

.navbox, .navbox .navbox-subgroup {
  background-color: white;
  text-align: center;

  .mw-collapsible {
    table-layout: auto;
    border: none;
    margin: 0 auto;
  }

  div[style="float:left; width:6em;text-align:left;"] {
    a > span {
      background-color: transparent !important;
    }
  }

  // 增加权重，覆盖mw-collapsible的样式
  .navbox-title:not(foo):not(foo):not(foo):not(foo):not(foo) {  
    padding: 5px;
    border: none;
    background-color: #DAF4DA;
  }

  .navboxBlock {
    display: inline-table;
    box-sizing: border-box;
    border-left-style: solid;
    margin: 5px;
    
    &:not(foo):not(foo):not(foo):not(foo):not(foo) {
      border-left-color: useComputedColorVars('groupColor');
    }

    &.navboxBlock-show {
      width: calc(100% - 5px);
      display: table;
      border-left-width: 15px;

      > .navbox-list {
        display: table-row;
      }
    }

    > .navbox-group {
      text-align: center;
      padding: 3px 5px !important;
      box-sizing: border-box;
      background-color: #DAF4DA;
      word-break: break-all;
      white-space: nowrap;
      width: auto !important;

      > div:first-child {
        display: inline-block;
      }
    }

    > .navbox-list {
      display: none;

      // 只有一个navbox-list子节点，表示嵌套了一个sub-navbox
      &:only-child {
        display: table-row;
      }
    }

    .navboxCollapseButton {
      padding: 0 5px;
      font-size: 16px;
      transform: scale(1.3);
      font-weight: bold;
      float: right;
      position: relative;
      top: -1px;
    }
  }

  .mw-collapsible > tbody > tr:last-child {
    border: {
      top: none;
      right: none;
      bottom: none;
    }
    padding: 0;
  }

  .navbox-subgroup {
    border: none;
    margin: 0;
  }
}